<a href="https://colab.research.google.com/github/LinhThaoPham/DailyHomeWork/blob/main/btvn2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic

- Bộ dữ liệu là danh sách hành khách trên con tàu nổi tiếng Titanic. Vào ngày 15 tháng 4 năm 1912, trong chuyến hải trình đầu tiên, Titanic đã bị chìm sau khi va chạm với một tảng băng trôi, cướp đi sinh mạng của rất nhiều hành khách và thủy thủ đoàn. Thảm kịch chấn động này đã gây sốc cho cộng đồng quốc tế và dẫn đến việc ban hành các quy định an toàn nghiêm ngặt hơn cho tàu thuyền.

## 1. Import data and libraries

In [5]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/data/titanic.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1. Get top 5 oldest passengers

In [8]:
# Your code here
df.sort_values(by='Age', ascending=False).head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q

### 2. Write one line of code to calculate the survival rate (percentage of number of suvivals / total)

In [9]:
# Your code here:
df[df['Survived'] == 1].count() / df['Survived'].count()

PassengerId    0.383838
Survived       0.383838
Pclass         0.383838
Name           0.383838
Sex            0.383838
Age            0.325477
SibSp          0.383838
Parch          0.383838
Ticket         0.383838
Fare           0.383838
Cabin          0.152637
Embarked       0.381594
dtype: float64

### 3. Write one line of code to return the **unique** names of classes on the ship.

In [10]:
# Your code here
df['Pclass'].unique()

array([3, 1, 2])

### 4. Which class was the most crowded?

+ A. Class 1
+ B. Class 2
+ C. Class 3
+ D. They are the same.

In [11]:
# Your code here
df.groupby('Pclass').size().sort_values(ascending=False).head(1)

Pclass
3    491
dtype: int64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 5. Write one line of code to return the unique names of the names of the habours where passengers embarked?

![image.png](attachment:image.png)

In [12]:
# Your code here
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

## 2. Analyse Ticket Fare

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 6. On average, which class’ ticket was the most expensive and how much was it?
+ A. **Class 1 --- 84.15**
+ B. Class 1 --- 18177.41
+ C. Class 3 --- 84.15
+ D. Class 3 --- 18177.41

In [15]:
# Your code here
df.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### 7. Within that most expensive class, where did its passengers embark and how many of them from each harbour?

+ A. S:2 ------ C:85 ------ Q:127
+ B. S:85 ------ C:127 ------ Q:2
+ **C. S:127 ------ C:85 ------ Q:2**
+ D. S:2 ------ C:127 ------ Q:85

![image.png](attachment:image.png)

In [17]:
import pandas as pd

max_class = df.groupby('Pclass')['Fare'].mean().idxmax()

pivot = df.pivot_table(index='Embarked',
                       columns='Pclass',
                       values='PassengerId',
                       aggfunc='count')

print(pivot[max_class])

Embarked
C     85
Q      2
S    127
Name: 1, dtype: int64

### 8. Write one line of code to show the average ticket fare by both Pclass and harbour.

![image.png](attachment:image.png)

In [18]:
# Your code here
df.groupby(['Pclass', 'Embarked'])['Fare'].mean()

Pclass  Embarked
1       C           104.718529
        Q            90.000000
        S            70.364862
2       C            25.358335
        Q            12.350000
        S            20.327439
3       C            11.214083
        Q            11.183393
        S            14.644083
Name: Fare, dtype: float64

## 3. Analyse Survival Chance

### 9. Write one line of code to compute the survival rate between Man and Woman.

In [20]:
# Your code here
df[df['Sex'] == 'male']['Survived'].count() /df[df['Sex'] == 'female']['Survived'].count()

np.float64(1.8375796178343948)

### 10. Write one line of code to compute the survival rate of classes.

In [22]:
# Your code here
df.groupby('Pclass')['Survived'].mean()*100

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

### Task

The Age column's datatype is continuous. When analysing continuous column like this, there are oftentimes that we break them into categories. For example, people in 15 and 16 years old's behavior are not that much different so we group them into a category called "Teens".

Compute a new column called **AgeRange** in the dataset, following the criteria that:

- "Infants": if the passenger age < 1

- "Children": if age < 10

- "Teens": if age < 18

- "Adults": if age < 40

- "Middle Age": if age < 60

- "Elders": if age >= 60


![image.png](attachment:image.png)

In [23]:
# HINT: Fill in the blanks ___

def cal_age_range(r):
    if r['Age'] < 1:
        return 'Infants'
    elif r['Age'] < 10:
        return 'Children'
    elif r['Age'] < 18:
        return 'Teens'
    elif r['Age'] < 40:
        return 'Adults'
    elif r['Age'] < 60:
        return 'Middle Age'
    elif r['Age'] >=60:
        return 'Elders'

df['AgeRange'] = df.apply(cal_age_range, axis = 1)

In [24]:
# Run this code to check
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeRange
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.750,NaN,Q,None
467,468,0,1,"Smart, Mr. John Montgomery",male,56.0,0,0,113792,26.550,NaN,S,Middle Age
567,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,Adults
658,659,0,2,"Eitemiller, Mr. George Floyd",male,23.0,0,0,29751,13.000,NaN,S,Adults
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1,0,STON/O2. 3101271,7.925,NaN,S,Adults

### 11. What was the survival rate of the Infants?

+ A. 1.0
+ B. 0.76
+ C. 0.43
+ D. 0.29

![image.png](attachment:image.png)

In [25]:
# Your code here
df[df['AgeRange'] == 'Infants']['Survived'].mean()

np.float64(1.0)

### 12.

Using average survival rate alone is not a good measurement. It may leads to bias if the total number of infants on the ship was not that high compared to others AgeRange.

Write one line of code to compute a groupby table that have average survival rate and total count of each AgeRange.

![image.png](attachment:image.png)

In [26]:
# Your code here
df.groupby('AgeRange')['Survived'].agg(['mean', 'count'])

                mean  count
AgeRange
Adults      0.383562    438
Children    0.563636     55
Elders      0.269231     26
Infants     1.000000      7
Middle Age  0.394161    137
Teens       0.450980     51

### 13. Zoom Out — Using pivot_table to have a better view of the survival rate by AgeRange, Sex, and Pclasses.

Your code must be one line and your output must look like this.

<img src="https://i.ibb.co/YbsHbMd/2.png" width="500">

In [ ]:
# Your code here

In [27]:
# Hint: Fill in the blanks ___
pd.pivot_table(
    data = df,
    index= 'AgeRange',
    columns= ['Sex','Pclass'],
    values= 'Survived',
    aggfunc= 'mean'
)

Sex           female                          male
Pclass             1         2         3         1         2         3
AgeRange
Adults      0.979592  0.913043  0.473684  0.477273  0.059701  0.148571
Children    0.000000  1.000000  0.473684  1.000000  1.000000  0.350000
Elders      1.000000       NaN  1.000000  0.142857  0.250000  0.000000
Infants          NaN       NaN  1.000000  1.000000  1.000000  1.000000
Middle Age  0.960000  0.875000  0.000000  0.333333  0.058824  0.064516
Teens       1.000000  1.000000  0.571429  1.000000  0.000000  0.090909

### 14. Merge with below class_name table and *just* get ClassName for our Titanic dataframe

In [28]:
class_name = pd.read_excel('data\\class_name.xlsx')
class_name

FileNotFoundError: [Errno 2] No such file or directory: 'data\\class_name.xlsx'

In [29]:
# Your code here
df = pd.merge(
    left = df,
    right = class_name,
    how = 'left',
    left_on = 'Pclass',
    right_on = 'Pclass'

)

NameError: name 'class_name' is not defined

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeRange,Pclass_number,ClassName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adults,3,Third class
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adults,1,First class
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adults,3,Third class
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adults,1,First class
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adults,3,Third class